a{
    color:#060606 !important; /* Override Bootstrap's default link color */
}

header a:hover{
    color:#c32805 !important; /* Change to your desired hover color */
}

@media only screen and (max-width: 600px) {
    .logo{
        text-align: center;
    }

    .justify-content-end{
        justify-content: center !important;
    }
    .slider-content{
        display: none;
    }
}

.navbarBack{
    background-color:#f6fbf7 !important; /* Light background color */
}

.slider-content{
    padding-left: 110px;
    padding-top: 56px;
}